.cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 400px;
}

.cart__no-items {
  text-align: center;
}

.no-items__title {
  font-family: Core Sans C;
}