.wrapper {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    @media screen and (min-width: $laptop-width) {
        max-width: 1200px;
    }
    @media screen and (min-width: $desktop-width) {
        max-width: 1400px;
    }
}
.products-container{
    order: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    @media screen and (min-width: $tablet-width) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    @media screen and (min-width: $laptop-width) {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    @media screen and (min-width: $desktop-width) {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
}

breadcrumb-nav {
    order: 0;
    padding: 10px 0;
}