<div class="contact">
  <div id="content" class="contact__content">
    <div class="contact__line line">
      <div class="line__info">
        <span class="line__title">First Name</span>
        <span id="first-name" class="line__content">Default</span>
        <input class="line__input" type="text">
      </div>
      <button id="change-first-name" class="line__edit">Change</button>
      <button id="save-first-name" class="line__save">Save</button>
    </div>
    <div class="contact__line line">
      <div class="line__info">
        <span class="line__title">Last Name</span>
        <span id="last-name" class="line__content">Default</span>
        <input class="line__input" type="text">
      </div>
      <button id="change-last-name" class="line__edit">Change</button>
      <button id="save-last-name" class="line__save">Save</button>
    </div>
    <div class="contact__line line">
      <div class="line__info">
        <span class="line__title">Date Of Birth</span>
        <span id="birth-date" class="line__content">Default</span>
        <input class="line__input" type="date">
      </div>
      <button id="change-birth-date" class="line__edit">Change</button>
      <button id="save-birth-date" class="line__save">Save</button>
    </div>
  </div>
</div>
