<div class="wrapper">
  <div class="profile">
    <div class="profile__breadcrumbs">
      <breadcrumb-element>
        <span slot="link">Profile</span>
      </breadcrumb-element>
    </div>
    <div class="profile__content">
      <div id="profile-menu" class="profile__menu menu"></div>
      <div class="profile__personal">
        <h1 class="profile__title">Profile</h1>
        <div class="profile__block block">
          <div class="block__header">
            <div class="block__title">Contact Details</div>
          </div>
          <div id="contacts" class="block__content contacts"></div>
        </div>
        <div class="profile__block block">
          <div class="block__header">
            <div class="block__title">Address</div>
            <button id="add-new" class="block__link">Add New</button>
          </div>
          <div id="addresses" class="block__content addresses"></div>
        </div>
      </div>
    </div>
  </div>
</div>
