.profile {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 400px;
}

.profile[location ="profile"] {
  display: flex;
}

.profile__title {
  text-align: center;
}

.profile__title {
  font-family: Core Sans C;
}