.favourite-items {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 400px;
}

.favourite-items[location ="favourites"] {
  display: flex;
}

.favourite-items__no-items {
  text-align: center;
}

.no-items__title {
  font-family: Core Sans C;
}