<div class="container-fluid about-us">
  <div class="about-us__title">
    <h3 class="about-us__title-text">About Us</h3>
    <a href="https://rs.school/" outer-link="true" class="about-us__rs-link">
      <img src="../../assets/images/rs_school.svg" alt="RS School logo" class="about-us__rs-img">
    </a>
  </div>
  <div class="about-us__team">

    <div class="team__member-wrapper">
      <div class="team__member">
        <img src="../../assets/images/IMG_06141.png" alt="Member 1" class="member__photo">
        <p class="member__name">Novik Dmytro</p>
        <p class="member__role">Developer</p>
        <p class="member__bio">Bachelor of Economics, junior Front-End Developer.</p>
        <a href="https://github.com/rebel228" outer-link="true" class="member__github">rebel228</a>
      </div>
    </div>


    <div class="team__member-wrapper">
      <div class="team__member">
        <img src="../../assets/images/IMG_2340.jpg" alt="Member 2" class="member__photo">
        <p class="member__name">Maksim Sinelnikau</p>
        <p class="member__role">Team Leader</p>
        <p class="member__bio">Belarus. Rs-school student. Junior Front-End Developer.</p>
        <a href="https://github.com/maxsimusprime" outer-link="true" class="member__github">maxsimusprime</a>
      </div>
    </div>


    <div class="team__member-wrapper">
      <div class="team__member">
        <img src="../../assets/images/64f4060a-58d9-49ef-8818-ea67c285cce5_1.jpeg" alt="member 3" class="member__photo">
        <p class="member__name">Oleg Korostylov</p>
        <p class="member__role">Developer</p>
        <p class="member__bio">Ukraine. Student of the 4th year of the Zaporizhia National University, majoring in software engineering.</p>
        <a href="https://github.com/OlegBW" outer-link="true" class="member__github">OlegBW</a>
      </div>
    </div>
  </div>
  <h5 class="about-us__title-text about-us__title-text_small">Contributions</h3>
  <p class="about-us__text about-us__text_contibutions">
    Novik Dmytro: Header element, Product Details page, modal window with enlarged images, Jest tests, About Us page.
  </p>
  <p class="about-us__text about-us__text_contibutions">
    Maksim Sinelnikau: Initial project setup, Redux setup, Router setup, Registration page, User Profile page, Cart page.
  </p>
  <p class="about-us__text about-us__text_contibutions">
    Oleg Korostylov: Login page, Catalog page, product filtering, pagination.
  </p>
  <p class="about-us__text">Our team was using Scrum framework to divide development cycle into several sprints. 
    We used Jira Software to manage our backlog, board and tasks. 
    Jira helped to equally distribute tasks, keep track of team's progress. 
    Jura's integration with Github provided clean and robust repository workflow. 
    In order to minimize possible bugs and issues, our team followed a strict pull request merge policy, 
    which required code reviews and approvals of both other team members.
  </p>
  <p class="about-us__text">During the whole development process our team was helding daily meetings to coordinate out efforts, 
    to discuss potential difficulties or different solutions to the problems we were facing.
  </p>
</div>