<div class="container-fluid about-us">
  <div class="about-us__title">
    <h3 class="about-us__title-text">About Us</h3>
    <a href="https://rs.school/" outer-link="true" class="about-us__rs-link">
      <img src="../../assets/images/rs_school.svg" alt="RS School logo" class="about-us__rs-img">
    </a>
  </div>
  <p class="about-us__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  <div class="about-us__team">

    <div class="team__member-wrapper">
      <div class="team__member">
        <img src="https://placehold.jp/230x300.png" alt="Member 1" class="member__photo">
        <p class="member__name">Name 1</p>
        <p class="member__role">Role 1</p>
        <p class="member__bio">short bio example short bio exampleshort bio exampleshort bio exampleshort bio exampleshort bio exampleshort bio example</p>
        <a href="" outer-link="true" class="member__github">Github</a>
      </div>
    </div>


    <div class="team__member-wrapper">
      <div class="team__member">
        <img src="https://placehold.jp/230x300.png" alt="Member 2" class="member__photo">
        <p class="member__name">Name 2</p>
        <p class="member__role">Role 2</p>
        <p class="member__bio">short bio example short bio exampleshort bio exampleshort bio exampleshort bio exampleshort bio exampleshort bio example</p>
        <a href="" outer-link="true" class="member__github">Github</a>
      </div>
    </div>


    <div class="team__member-wrapper">
      <div class="team__member">
        <img src="https://placehold.jp/230x300.png" alt="member 3" class="member__photo">
        <p class="member__name">Name 3</p>
        <p class="member__role">Role 3</p>
        <p class="member__bio">short bio example short bio exampleshort bio exampleshort bio exampleshort bio exampleshort bio exampleshort bio example</p>
        <a href="" outer-link="true" class="member__github">Github</a>
      </div>
    </div>

  </div>
</div>