<div class="wrapper">
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" href="#" id="first-btn" aria-label="First">
        <span aria-hidden="true">&laquo;</span>
      </a></li>
      <li class="page-item"><a class="page-link" href="#" id="prev-btn">&lsaquo;</a></li>
      <li class="page-item"><a class="page-link" href="#" id="page-number">1</a></li>
      <li class="page-item"><a class="page-link" href="#" id="next-btn">&rsaquo;</a></li>
      <li class="page-item"><a class="page-link" href="#" id="last-btn" aria-label="Last">
        <span aria-hidden="true">&raquo;</span>
      </a></li>
    </ul>
  </nav>
</div>