<div class="wrapper">
    <div class="product-card">
        <div class="product-card__image" id="product-image">
            <div class="product-card__like-btn"></div>
        </div>
    </div>
    <div class="product-card__info">
        <div class="product-card__desc">
            <div class="product-card__name" id="product-name"></div>
            <div class="product-card__brand" id="product-brand"></div>
        </div>
        <div class="product-card__price" id="product-price"></div>
    </div>
</div>