.wrapper{
    width: 282px;
    height: 461px;
    overflow: hidden;
    transition: all ease-in-out .2s;
    @media (hover: hover) {
        &:hover {
            box-shadow: 6px 6px 2px 1px $color-brand-main-xxl;
            transform: translate(-3px, -3px);
        }
    }
}

.product-card{
    display: flex;
    flex-direction: column;

    &__info{
        display: flex;
        justify-content: space-between;
    }

    &__desc{
        display: flex;
        flex-direction: column;
    }

    &__name,
    &__brand,
    &__description{
        text-overflow: ellipsis;
        overflow: hidden;
        width: 150px;
        white-space: nowrap;
        font-family: Causten;
        font-weight: 600;
        font-size: 16px;
        color: $color-dark;
    }

    &__brand{
        font-weight: 600;
        font-size: 14px;
        color: $color-light;
    }

    &__description{
        width: 100%;
        font-weight: 500;
        font-size: 14px;
        color: $color-light;
    }

    &__price{
        font-family: Causten;
        border-radius: 8px;
        background: #F6F6F6;
        padding: 10px 16px;

        &_discounted{
            background: rgb(255, 61, 61);
            color: white;
            font-weight: bold;

            &::before{
                content: attr(data-discount);
                text-decoration: line-through;
                margin-right: 5px;
                font-weight: normal;
            }
        }
    }

    &__image{
        margin-bottom: 10px;
        position: relative;
        left: 0px;
        top: 0px;
        cursor: pointer;
    }

    &__like-btn{
        width: 32.359px;
        height: 32.359px;
        border-radius: 50%;
        background-color: white;
        background-image: url('../../assets/images/heart.svg');

        position: absolute;
        left: 100%;
        top: 10px;

        transform: translate(-150%);
    }
}

.product-card__image{
    width: 282px;
    height: 370px;
    border-radius: 12px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}