@font-face {
  font-family: 'Causten';
  src: url('../assets/fonts/Causten/Causten-Medium.woff2') format('woff2'),
      url('../assets/fonts/Causten/Causten-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Causten';
  src: url('../assets/fonts/Causten/Causten-Bold.woff2') format('woff2'),
      url('../assets/fonts/Causten/Causten-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Causten Semi';
  src: url('../assets/fonts/Causten/Causten-SemiBold.woff2') format('woff2'),
      url('../assets/fonts/Causten/Causten-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Causten';
  src: url('../assets/fonts/Causten/Causten-Regular.woff2') format('woff2'),
      url('../assets/fonts/Causten/Causten-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Causten';
  src: url('../assets/fonts/Causten/Causten-Light.woff2') format('woff2'),
      url('../assets/fonts/Causten/Causten-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Core Sans C';
  src: url('../assets/fonts/CoreSansC/CoreSansC-45Regular.woff2') format('woff2'),
      url('../assets/fonts/CoreSansC/CoreSansC-45Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Core Sans C';
  src: url('../assets/fonts/CoreSansC/CoreSansC-75ExtraBold.woff2') format('woff2'),
      url('../assets/fonts/CoreSansC/CoreSansC-75ExtraBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Core Sans C';
  src: url('../assets/fonts/CoreSansC/CoreSansC-85Heavy.woff2') format('woff2'),
      url('../assets/fonts/CoreSansC/CoreSansC-85Heavy.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Core Sans C';
  src: url('../assets/fonts/CoreSansC/CoreSansC-55Medium.woff2') format('woff2'),
      url('../assets/fonts/CoreSansC/CoreSansC-55Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Core Sans C';
  src: url('../assets/fonts/CoreSansC/CoreSansC-65Bold.woff2') format('woff2'),
      url('../assets/fonts/CoreSansC/CoreSansC-65Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
