$mobile-width: 320px;
$tablet-width: 768px;
$laptop-width: 1024px;
$desktop-width: 1280px;

$color-brand-main: #8a33fd;
$color-brand-main-l: #b781fe;
$color-brand-main-xxl: #b781fe63;
$color-sale: #dc143c;
$color-dark: #3C4242;
$color-light: #807D7E;
$color-light-l: #BEBCBD;
$color-light-xl: #F6F6F6;