<div class="modal">
  <div class="modal__content">
    <div class="modal__header">
      <div id="title" class="modal__title"></div>
      <button id="close" class="modal__button">X</button>
    </div>
    <div id="street-field" class="modal__line line field">
      <label for="street" class="line__label">Street</label>
      <input class="line__input form-control" type="text" name="streetName" id="street" required>
      <div class="invalid-tooltip"></div>
      <p class="line__description">
        Must contain at least one character
      </p>
    </div>
    <div id="city-field" class="modal__line line field">
      <label for="city" class="line__label">City</label>
      <input class="line__input form-control" type="text" name="city" id="city" required>
      <div class="invalid-tooltip"></div>
      <p class="line__description">
        Minimum one char w/out special or numbers
      </p>
    </div>
    <div id="zip-field" class="modal__line line field">
      <label for="zip" class="line__label">Postal Code</label>
      <input class="line__input form-control" type="text" name="zip" id="zip" required>
      <div class="invalid-tooltip"></div>
      <p class="line__description">
        Valid country postal code
      </p>
    </div>
    <div id="country-field" class="modal__line line field">
      <label class="line__label" for="country">
        Country
      </label>
      <select id="country" class="line__select form-control">
        <option value="US">United States of America</option>
        <option value="CA">Canada</option>
      </select>
      <div class="invalid-tooltip"></div>
      <p class="line__description">
        Must be a valid country
      </p>
    </div>
    <div class="modal__line line">
      <div id="shipping-field" class="custom-control custom-checkbox">
        <label class="custom-control-label" for="shipping">
          <input type="checkbox" class="custom-control-input valid" id="shipping">
          Use address as shipping address
        </label>
      </div>
      <!-- <div id="shipping-as-default-field" class="custom-control custom-checkbox">
        <label class="custom-control-label" for="shipping-as-default">
          <input type="checkbox" class="custom-control-input valid" id="shipping-as-default">
          Also as default shipping address
        </label>
      </div> -->
    </div>
    <div id="billing-field" class="modal__line line">
      <div class="custom-control custom-checkbox">
        <label class="custom-control-label" for="billing">
          <input type="checkbox" class="custom-control-input valid" id="billing">
          Use address as billing address
        </label>
      </div>
      <!-- <div id="billing-as-default-field" class="custom-control custom-checkbox">
        <label class="custom-control-label" for="billing-as-default">
          <input type="checkbox" class="custom-control-input valid" id="billing-as-default">
          Also as default billing address
        </label>
      </div> -->
    </div>
    <div class="modal__line line">
      <button id="save" class="line__button modal__button">Save</button>
    </div>
  </div>
</div>
