<div class="card">
  <div class="card__content">
    <div class="card__line">
      <span id="zip" class="card__title">00000</span>
      <span id="country" class="card__title">Default Country</span>
    </div>
    <div class="card__line">
      <span id="street" class="card__address">Default Street 11 - 00</span>
      <span id="city" class="card__address">City</span>
    </div>
    <div class="card__line">
      <div id="shipping" class="card__badge card__prop">Shipping</div>
      <div id="default-shipping" class="card__badge card__prop">Default Shipping</div>
      <div id="billing" class="card__badge card__prop">Billing</div>
      <div id="default-billing" class="card__badge card__prop">Default Billing</div>
    </div>
    <div class="card__line">
      <button id="remove" class="card__button">Remove</button>
      <button id="edit" class="card__button">Edit</button>
    </div>
    <div class="card__line">
      <button id="set-default-shipping" class="card__button card__prop">Set as default shipping</button>
      <button id="set-default-billing" class="card__button card__prop">Set as default billing</button>
    </div>
  </div>
</div>