<div class="container-fluid">
  <div class="offer-images">
    <img src="../../assets/img/High coziness.png" alt="High coziness items" class="offer-images__image">
    <img src="../../assets/img/Breezy Summer Style.png" alt="Summer style offer-images" class="offer-images__image">
  </div>
  <div class="categories categories_men">
    <h3 class="categories__title">Categories For Men</h3>
  </div>
  <div class="categories categories_women">
    <h3 class="categories__title">Categories For Women</h3>
  </div>
</div>
