<div class="container-fluid start-page">
  <div class="start-page__offer-images">
    <img src="../../assets/img/High coziness.png" alt="High coziness items" class="offer-images__image">
    <img src="../../assets/img/Breezy Summer Style.png" alt="Summer style offer-images" class="offer-images__image">
  </div>
  <div class="categories categories_men">
    <h3 class="categories__title">Categories For Men</h3>
    <div class="start-page__links categories">
      <a class="start-page__link" href="#" data-href="/products/1c953862-6fb2-40dc-8c9e-afc0bda7de75">Shirts</a>
      <a class="start-page__link" href="#" data-href="/products/af436f50-16d6-4ff3-8b52-a6e832d9dc3a">Pants</a>
      <a class="start-page__link" href="#" data-href="/products/6c58139b-6da0-40ba-ab65-52d5b6b30129">Jackets</a>

    </div>
  </div>
  <div class="categories categories_women">
    <h3 class="categories__title">Categories For Women</h3>
    <div class="start-page__links categories">
      <a class="start-page__link" href="#" data-href="/products/a2e560af-99bd-450f-804b-41b52697360c">Dresses</a>
      <a class="start-page__link" href="#" data-href="/products/0e10cba1-5e13-44b5-b5d1-b2b5ac3514ee">Tops</a>
      <a class="start-page__link" href="#" data-href="/products/8a584c1e-de54-4bd2-a8ef-c8be1fc08f5b">Bottoms</a>
      <a class="start-page__link" href="#" data-href="/products/13c4df84-fd80-47c4-8ebb-d099b58730ae">Activewear</a>
    </div>
  </div>
</div>
