<div class="container-fluid start-page">
  <div class="start-page__links categories">
    <a class="start-page__link" href="#" data-href="/">Main</a>
    <a class="start-page__link" href="#" data-href="/products/94038ccd-10f8-4ccc-a616-cfa5438bcc9a">Catalog for Men</a>
    <a class="start-page__link" href="#" data-href="/products/e53f22b1-2fe3-4c30-991b-c7006c0562c1">Catalog for woman</a>
    <a class="start-page__link" href="#" data-href="/cart">Cart</a>
    <a class="start-page__link" href="#" data-href="/profile">Profile</a>
    <a class="start-page__link" href="#" data-href="/favourites">Favorites</a>
    <a class="start-page__link" href="#" data-href="/login">Log In</a>
    <a class="start-page__link" href="#" data-href="/signup">Sign Up</a>
  </div>
  <div class="start-page__offer-images">
    <img src="../../assets/img/High coziness.png" alt="High coziness items" class="offer-images__image">
    <img src="../../assets/img/Breezy Summer Style.png" alt="Summer style offer-images" class="offer-images__image">
  </div>
  <div class="categories categories_men">
    <h3 class="categories__title">Categories For Men</h3>
  </div>
  <div class="categories categories_women">
    <h3 class="categories__title">Categories For Women</h3>
  </div>
</div>
