<section id="product-page" class="product-page container-fluid">
  <div class="product-page__content-gallery">
    <div id="carouselExampleIndicators" class="carousel slide">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="https://picsum.photos/200/300" class="d-block w-100" alt="https://picsum.photos/200/300">
        </div>
        <div class="carousel-item">
          <img src="https://picsum.photos/200/300" class="d-block w-100" alt="https://picsum.photos/200/300">
        </div>
        <div class="carousel-item">
          <img src="https://picsum.photos/200/300" class="d-block w-100" alt="https://picsum.photos/200/300">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
  </div>
  <div class="product-page__details-layout details-layout">
    <p class="details-layout__path"></p>
    <h2 class="details-layout__product-name"></h2>
    <div class="details-layout__size-select size-select">
      <p class="size-select__text"> Select Size</p>
      <div class="size-select__buttons">
        <button class="size-select__button size-select__button_xs">XS</button>
        <button class="size-select__button size-select__button_s">S</button>
        <button class="size-select__button size-select__button_m">M</button>
        <button class="size-select__button size-select__button_l">L</button>
        <button class="size-select__button size-select__button_xl">XL</button>
      </div>
    </div>
    <div class="details-layout__prices prices">
      <button class="prices__to-cart">
        <i class="to-cart__icon-cart"></i>
        <span class="to-cart__text">Add to cart</span>
      </button>
      <span class="prices__price"></span>
      <span class="prices__price prices__price_sale"></span>
    </div>
    <div class="details-layout__service-features service-features row justify-content-evenly">
      <div class="service-feaures__row col-6">
        <div class="service-feaures__feature">
          <i class="service-features__icon icon_card"></i>
          <span class="service-features__text">Secure payment</span>
        </div>
        <div class="service-feaures__feature">
          <i class="service-features__icon icon_shipping"></i>
          <span class="service-features__text">Free Shipping</span>
        </div>
      </div>
      <div class="service-feaures__row col-6">
        <div class="service-feaures__feature">
          <i class="service-features__icon icon_fit"></i>
          <span class="service-features__text">Size & Fit</span>
        </div>
        <div class="service-feaures__feature">
          <i class="service-features__icon icon_returns"></i>
          <span class="service-features__text">Free Shipping & Returns</span>
        </div>
      </div>
    </div>
  </div>
  <div class="product-page__descr-section">
    <h3 class="descr-section__descr-title">Product Description</h3>
    <p class="descr-section__descr-text"></p>
  </div>
</section>