<section id="product-page" class="product-page container-fluid">

  <div class="product-page__content-gallery">
    <div class="content-gallery__carousel-container"></div>
  </div>

  <div class="product-page__details-layout details-layout">

    <p class="details-layout__path"></p>

    <h2 class="details-layout__product-name"></h2>

    <div class="details-layout__size-select size-select">
      <p class="size-select__text"> Select Size</p>
      <div class="size-select__buttons">
        <button class="size-select__button size-select__button_xs">XS</button>
        <button class="size-select__button size-select__button_s">S</button>
        <button class="size-select__button size-select__button_m">M</button>
        <button class="size-select__button size-select__button_l">L</button>
        <button class="size-select__button size-select__button_xl">XL</button>
      </div>
    </div>
  
    <div class="details-layout__prices prices">
      <button id="add-to-cart" class="prices__to-cart">
        <i class="to-cart__icon-cart"></i>
        <span class="to-cart__text">Add to cart</span>
      </button>
      <span class="prices__price"></span>
      <span class="prices__price prices__price_sale"></span>
    </div>
  
    <div class="details-layout__service-features service-features row justify-content-evenly">
      <div class="service-feaures__row col-6">
        <div class="service-feaures__feature">
          <i class="service-features__icon icon_card"></i>
          <span class="service-features__text">Secure payment</span>
        </div>
        <div class="service-feaures__feature">
          <i class="service-features__icon icon_shipping"></i>
          <span class="service-features__text">Free Shipping</span>
        </div>
      </div>
      <div class="service-feaures__row col-6">
        <div class="service-feaures__feature">
          <i class="service-features__icon icon_fit"></i>
          <span class="service-features__text">Size & Fit</span>
        </div>
        <div class="service-feaures__feature">
          <i class="service-features__icon icon_returns"></i>
          <span class="service-features__text">Free Shipping & Returns</span>
        </div>
      </div>
    </div>

  </div>

  <div class="product-page__descr-section">
    <h3 class="descr-section__descr-title">Product Description</h3>
    <p class="descr-section__descr-text"></p>
  </div>

</section>