<div class="contact">
  <div id="content" class="contact__content">
    <div class="contact__line line">
      <div class="line__info">
        <span class="line__title">First Name</span>
        <span id="first-name" class="line__content">Default</span>
        <div id="first-name-field" class="line__field">
          <input class="line__input form-control" name="firstName" type="text" required>
          <div class="invalid-tooltip"></div>
        </div>
      </div>
      <div class="line__controls">
        <button id="change-first-name" class="line__button line__edit">Change</button>
        <button id="save-first-name" class="line__button line__save">Save</button>
        <button class="line__button line__cancel">Cancel</button>
      </div>
    </div>
    <div class="contact__line line">
      <div class="line__info">
        <span class="line__title">Last Name</span>
        <span id="last-name" class="line__content">Default</span>
        <div id="last-name-field" class="line__field">
          <input class="line__input form-control" name="lastName" type="text" required>
          <div class="invalid-tooltip"></div>
        </div>
      </div>
      <div class="line__controls">
        <button id="change-first-name" class="line__button line__edit">Change</button>
        <button id="save-first-name" class="line__button line__save">Save</button>
        <button class="line__button line__cancel">Cancel</button>
      </div>
    </div>
    <div class="contact__line line">
      <div class="line__info">
        <span class="line__title">Date Of Birth</span>
        <span id="birth-date" class="line__content">Default</span>
        <div id="birth-date-field" class="line__field">
          <input class="line__input form-control" name="dateOfBirth" type="date" required>
          <div class="invalid-tooltip"></div>
        </div>
      </div>
      <div class="line__controls">
        <button id="change-first-name" class="line__button line__edit">Change</button>
        <button id="save-first-name" class="line__button line__save">Save</button>
        <button class="line__button line__cancel">Cancel</button>
      </div>
    </div>
    <div id="email-field" class="contact__line line">
      <div class="line__info">
        <span class="line__title">Email Address</span>
        <span id="email" class="line__content">Default</span>
        <div id="email-field" class="line__field">
          <input class="line__input form-control" name="email" type="email" required>
          <div class="invalid-tooltip"></div>
        </div>
      </div>
      <div class="line__controls">
        <button id="change-first-name" class="line__button line__edit">Change</button>
        <button id="save-first-name" class="line__button line__save">Save</button>
        <button class="line__button line__cancel">Cancel</button>
      </div>
    </div>
    <div class="contact__line line">
      <div class="line__info">
        <span class="line__title">Password</span>
        <span id="password" class="line__content">********</span>
        <div id="current-password-field" class="line__field field__with-title">
          <label class="line__label" for="current-password">Input current password</label>
          <input id="current-password" class="line__input form-control" name="currentPassword" type="password" required>
          <div class="invalid-tooltip"></div>
        </div>
        <div id="new-password-field" class="line__field field__with-title">
          <label class="line__label" for="new-password">Input new password</label>
          <input id="new-password"class="line__input form-control" name="newPassword" type="password" required>
          <div class="invalid-tooltip"></div>
        </div>
      </div>
      <div class="line__controls">
        <button id="change-first-name" class="line__button line__edit">Change</button>
        <button id="save-first-name" class="line__button line__save">Save</button>
        <button class="line__button line__cancel">Cancel</button>
      </div>
    </div>
  </div>
</div>
