.sign-in {
  display: flex;
  flex-direction: column;
}

.sign-in__sign {
  margin-bottom: 50px;
  color: #333;
  font-family: Core Sans C;
  font-size: 2.125em;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.68px;
}

.sign-in__google {
  margin-bottom: 20px;
}

.sign-in__twitter {
  margin-bottom: 50px;
}

.sign-in__or {
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  color: #666;
  font-family: Core Sans C;
  font-size: 1.125em;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  &::before{
    content: '';
    display: inline-block;
    height: 1px;
    width: 40%;
    background: rgba(102, 102, 102, 0.25);
  }

  &::after{
    content: '';
    display: inline-block;
    height: 1px;
    width: 40%;
    background: rgba(102, 102, 102, 0.25);
  }
}

.sign-in__google,
.sign-in__twitter {
  border-radius: 8px;
  border: 1px solid #3c4242;
  padding: 16px 20px;
  background-color: white;
  color: #8a33fd;
  text-align: center;
  font-family: Causten;
  font-size: 1.375em;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sign-in__google__content,
.sign-in__twitter__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sign-in__google__content::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url('../../assets/images/google.svg');
  margin-right: 15px;
}

.sign-in__twitter__content::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url('../../assets/images/twitter.svg');
  margin-right: 15px;
}

.sign-in__email,
.sign-in__password {
  border-radius: 8px;
  border: 1px solid #3c4242;
  padding: 16px 20px;
}

.sign-in__submit {
  display: flex;
  width: 167px;
  padding: 16px 20px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: #8a33fd;
  color: white;

  margin-bottom: 10px;
}

.sign-in__form {
  display: flex;
  flex-direction: column;
}

.sign-in__password-field__label, .sign-in__email-field__label {
  display: flex;
  justify-content: space-between;
  align-items: center;

  color: #3C4242;
  font-family: Causten;
  font-size: 1.125em;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.36px;
}

.sign-in__password-field__label__hide-btn {
  cursor: pointer;
  display: flex;
  align-items: center;

  &::before{
    content: '';
    width: 18px;
    height: 16px;
    display: inline-block;
    background-image: url('../../assets/images/hide.svg');
    margin-right: 5px;
  }
}

.sign-in__forget-password {
  align-self: flex-end;
  margin-bottom: 30px;
}

.sign-in__forget-password, 
.sign-in__forget-password *{
  color: #3C4242;
  text-align: right;
  font-family: Causten;
  font-size: 1em;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
}

.sign-in__password__tooltip,
.sign-in__email__tooltip {
  height: 30px;
  color: #EE1D52;
  font-family: Causten;
  font-size: 1em;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  padding: 5px;
}

.sign-in__sign-up,
.sign-in__sign-up *{
  color: #3C4242;
  font-family: Causten;
  font-size: 1em;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}