<div class="sign-in">
    <h3 class="sign-in__sign">Sign In Page</h3>
    <button class="sign-in__google">
        <div class="sign-in__google__content">Continue With Google</div>
    </button>
    <button class="sign-in__twitter">
        <div class="sign-in__twitter__content">Continue With Twitter</div>
    </button>
    <div class="sign-in__or">OR</div>
    <form action="#" method="post" class="sign-in__form">
        <label for="email" class="sign-in__email-field__label">Email address</label>
        <input 
            type="email"
            class="sign-in__email" 
            name="email" 
            required
        >
        <label for="email" class="sign-in__email__tooltip"></label>
        <label for="password" class="sign-in__password-field__label">
            <div>Password</div>
            <div class="sign-in__password-field__label__hide-btn">Hide</div>
        </label>
        <input type="password" class="sign-in__password" name="password" required minlength="8">
        <label for="password" class="sign-in__password__tooltip"></label>
        <label for="password" class="sign-in__forget-password">
            <a href="#">Forget your password</a>
        </label>
        <input type="submit" class="sign-in__submit" value="Sign In" name="submit">
        <label for="submit" class="sign-in__sign-up">Don't have an account? <a href="#">Sign up</a></label>
    </form>
</div>

